.layout {
    background-color: bisque;
    margin: 120px 70px 70px 70px;
    padding: 20px 100px 50px 100px;
    height: max-content;
}

.judulhal{
 font-size: 250%;
}

.isihal{
margin-top: 20px;
display: flex;
flex-wrap: wrap;
justify-content: center;
}