html{  /*FILE HTML*/
    font-family:Helvetica, sans-serif;
    height: 100%;
    text-align: center;
    
}

.kartu {
    margin: 10px 10px 10px 10px;
    text-decoration: none;
}
.isihal > a{
    text-decoration: none;
}
.box{
    text-align: start;
    text-decoration: none;
    color: black;
}
